@{
    ViewBag.Title = "About";
}
    <div style="padding-top:50px; padding-left:50px;">
        <h2>@ViewBag.Title.</h2>
        <div class="container" style="direction:rtl; text-align:right;">
            <p>
                لدي خبرة في العمل علي المشاريع البرمجية بحيث قمت باعداد وتجهيز وادارة عدد من المشاريع البرمجية
                اعمل كمبرمجة front-End ولدي خبرة بادارة قواعد البيانات ...
                واتقن التقنيات الحديثة في برمجة الواجهات مثل البوت ستراب
                تدربت في مدينة الملك فهد الطبية وقمت بإنشاء هذا المشروع .
                اعمل كمبرمجة front-End ولدي خبرة بادارة قواعد البيانات ...
                واتقن التقنيات الحديثة في برمجة الواجهات مثل البوت ستراب
                واعمل ايضا كمبرمجة http://ASP.Net  MVC
            </p>
            <br />
            <p>
                (اثير بدر المطيري)
                (خريجة دبلوم برمجة-كلية التنقية عام٢٠٢٠)
            </p>
            <br />
            <p>
                ان الله يحب معاني الامور وأشرافها و يكره سفاسفها
            </p>
        </div>


    </div>

