@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<header>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <h5>Atheer </h5>
                <h1>Mubashara Project</h1>
                <p>
                    Welcome to Mubashara Form
                </p>

            </div>
            <div class="col-md-5 col-sm-12 h-25">
                <img src="~/Assets/banner-image.png">
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row my-5">
        <div class="col-md-4 col-sm-12 ">
            <div class="card text-center shadow-lg" style="width: 18rem;">
                <img src="~/Assets/about-us.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <a href="~/Students/" class="btn btn-primary">Check Students Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-center shadow-lg" style="width: 18rem;">
                <img src="~/Assets/supervisor.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Supervisors</h5>
                    <a href="~/Supervisors/" class="btn btn-primary">Check Supervisors Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card text-center shadow-lg" style="width: 18rem;">
                <img src="~/Assets/university-logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">University</h5>
                    <a href="~/Universities" class="btn btn-primary">Check University Now</a>
                </div>
            </div>
        </div>
    </div>
</div>